* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FFFFFF;
}

.hero {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    border-bottom: none;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.header-text {
    position: absolute;
    bottom: 170px;
    left: 50px;
    z-index: 10;
    margin-left: 50px;
}

.header-text h1 {
    font-size: 4em;
    color: #FF9D00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin: 0;
}

.custom-shape-divider-bottom-1764076735 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-bottom: -2px;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1764076735 svg {
    position: relative;
    display: block;
    width: 200%;
    height: 150px;
    animation: waveMove 10s linear infinite;

}

.custom-shape-divider-bottom-1764076735 .shape-fill {
    fill: #FFFFFF;
}

@keyframes waveMove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.profil-lab {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 20px;
    background: #FFFFFF;
}

.profil {
    display: flex;
    align-items: center;
    gap: 50px;
    max-width: 1100px;
    width: 100%;
}

.profil-img {
    width: 500px;
    height: auto;
    object-fit: contain;
}

.profil-text {
    flex: 1;
}

.profil-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #0A192F;
    font-weight: 700;
}

.profil-text p {
    font-size: 17px;
    line-height: 1.8;
    color: #444;
}