/* ===== FONT & RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* ===== NAVBAR ===== */
.navbar {
    width: 100%;
    padding: 15px 30px;
    background: #0046ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    height: 55px;
}

.site-title {
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.menu a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.menu a:hover {
    color: #0077cc;
}